* {font-family: 'Roboto', sans-serif;}

.logo-bg {
    background-color: #3e3e3e;
    background-color:#b33737;
}

.bg-circle-container {
    overflow: hidden;
    top:-10px;
    position: relative;
    height: 70px;
}

.bg-circle {
    background-color: #3e3e3e;
    background-color: #b33737;
    height: 272px;
    border-radius: 50%;
    width: 120%;
    position: relative;
    left: -10%;
    top: -208px;
}

h4,
h6 
{
    color:white;
}

h4 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: inline;
  margin: 30px -20px 13px;
  font-size:65px;
}

h4:first-child {
    color:rgba(255, 255, 255, 0.55);
}

.name-wrap {
    border-bottom: 1px solid white;
    text-align: center;
    width: 120px;
    margin: 0 auto 17px;
}

h6 {
    font-size:13px;
    text-align:center;
    color:rgba(255,255,255,0.95);
    font-weight:300;
}

ul {
    text-align: center;
    padding:0;
    display:flex;
    justify-content: space-between;
    margin:30px auto 10px;
    width:247px;
}
ul li {
    list-style: none;
    text-transform: uppercase;
    font-size:18px;
    font-weight: 100;
}

ul li a {
    color:#818080;
}

.inner-thumb {
    height:250px;
    width:250px;
    margin:10px auto;
    background-image: url("http://via.placeholder.com/640x360");
    background-size:cover;
    background-position: center;
}

footer {
    background-color: #b33737;
    width: 100%;
    height: 155px;
    margin-top: 40px;
}


